html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #ff7f04, #f60e81);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-size: 18px;
  height: 100%;
}

.stats {
  align-items: center;
  display: block;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
}

.stats__stat {
  display: inline-block;
  padding: 0 40px;
}

.canvas {
  background: none;
  border: none;
  color: #fff;
  font-size: 32px;
  font-family: 'Montserrat';
  font-weight: 200;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 0 10px 10px 10px;
}
